<section>
  <div class="wrapper w-full h-full relative flex justify-center">
    <div class="container-01">
      <div class="clock" id="clock-01" #clock01>
        <div class="hour">
          <div class="hr" id="hr"></div>
        </div>
        <div class="min">
          <div class="mn" id="mn"></div>
        </div>
        <div class="sec">
          <div class="sc" id="sc"></div>
        </div>
        <div class="indicators">
          @for (indicator of [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]; track indicator) {
            <div></div>
          }
        </div>
      </div>
    </div>
  </div>
</section>
